.container-fluid  {
    padding-left: 0px;
    padding-right: 0px;

}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar{
	background-image: linear-gradient(-90deg, #f093fb, #f5576c);
}

#nav-list a{
    color: black;
}



.Menu{
	text-align: center;
	padding: 25px 50px 25px 70px;
    text-shadow: 2px;
    color: green;
}

 
h5{
	text-align: center;
}
.box1{
	background-color: #faf87a;
}

.box2{
	background-color: #bde0f2;
}

.box3{
	background-color: #a7f27c;
}

